@font-face {
    font-family: 'cakeicon';
    src: url('fonts/cakeicon.eot?5rurba');
    src: url('fonts/cakeicon.eot?5rurba#iefix') format('embedded-opentype'), url('fonts/cakeicon.ttf?5rurba') format('truetype'), url('fonts/cakeicon.woff?5rurba') format('woff'), url('fonts/cakeicon.svg?5rurba#cakeicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ci {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cakeicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .ci.ci-2x {
        font-size: 2em;
    }

    .ci.ci-3x {
        font-size: 3em;
    }

    .ci.ci-4x {
        font-size: 4em;
    }

    .ci.ci-5x {
        font-size: 5em;
    }

    .ci.ci-price-sorting-up:before {
        content: "\e90d";
    }

    .ci.ci-price-sorting-down:before {
        content: "\e90c";
    }

    .ci.ci-address-direction:before {
        content: "\e900";
    }

    .ci.ci-address-direction-alt:before {
        content: "\e901";
    }

    .ci.ci-address-mark:before {
        content: "\e902";
    }

    .ci.ci-address-mark-alt:before {
        content: "\e903";
    }

    .ci.ci-address-minus:before {
        content: "\e904";
    }

    .ci.ci-address-minus-alt:before {
        content: "\e905";
    }

    .ci.ci-address-placeholder:before {
        content: "\e906";
    }

    .ci.ci-address-placeholder-alt:before {
        content: "\e907";
    }

    .ci.ci-address-plus:before {
        content: "\e908";
    }

    .ci.ci-address-plus-alt:before {
        content: "\e909";
    }

    .ci.ci-back:before {
        content: "\e90a";
    }

    .ci.ci-back-alt:before {
        content: "\e90b";
    }

    .ci.ci-cart:before {
        content: "\e91b";
    }

    .ci.ci-cart-alt:before {
        content: "\e91c";
    }

    .ci.ci-check:before {
        content: "\e91d";
    }

    .ci.ci-check-alt:before {
        content: "\e91e";
    }

    .ci.ci-close:before {
        content: "\e91f";
    }

    .ci.ci-close-alt:before {
        content: "\e920";
    }

    .ci.ci-doc-edit:before {
        content: "\e921";
    }

    .ci.ci-doc-edit-alt:before {
        content: "\e922";
    }

    .ci.ci-doc-favorite:before {
        content: "\e923";
    }

    .ci.ci-doc-favorite-alt:before {
        content: "\e924";
    }

    .ci.ci-filter:before {
        content: "\e92a";
    }

    .ci.ci-filter-alt:before {
        content: "\e92b";
    }

    .ci.ci-menu:before {
        content: "\e92c";
    }

    .ci.ci-menu-alt:before {
        content: "\e92d";
    }

    .ci.ci-microphone:before {
        content: "\e92e";
    }

    .ci.ci-microphone-alt:before {
        content: "\e92f";
    }

    .ci.ci-news:before {
        content: "\e930";
    }

    .ci.ci-news-alt:before {
        content: "\e931";
    }

    .ci.ci-purchase-empty:before {
        content: "\e925";
    }

    .ci.ci-purchase-empty-alt:before {
        content: "\e926";
    }

    .ci.ci-refunds:before {
        content: "\e94a";
    }

    .ci.ci-refunds-alt:before {
        content: "\e94b";
    }

    .ci.ci-search:before {
        content: "\e94c";
    }

    .ci.ci-search-alt:before {
        content: "\e94d";
    }

    .ci.ci-share:before {
        content: "\e94e";
    }

    .ci.ci-share-alt:before {
        content: "\e94f";
    }

    .ci.ci-trash:before {
        content: "\e950";
    }

    .ci.ci-trash-alt:before {
        content: "\e951";
    }

    .ci.ci-user:before {
        content: "\e952";
    }

    .ci.ci-user-alt:before {
        content: "\e953";
    }

    .ci.ci-cake-alt:before {
        content: "\e90e";
    }

    .ci.ci-cake:before {
        content: "\e90f";
    }
